*{
    --maincolor1: hsl(228, 32%, 10%);
    --maincolor2: hsl(228, 32%, 20%);
    --maincolor3: hsl(228, 32%, 30%);
    --maincolor4: hsl(228, 32%, 40%);
    --maincolor5: hsl(228, 32%, 50%);
    --maincolor6: hsl(228, 32%, 60%);
    --maincolor7: hsl(228, 32%, 70%);
    --maincolor8: hsl(228, 32%, 80%);
    --maincolor9: hsl(228, 32%, 90%);
    --maincolor10: hsl(228, 32%, 100%);

    --faintblack1: rgba(0, 0, 0, 0.1);
    --faintblack2: rgba(0, 0, 0, 0.2);
    --faintblack3: rgba(0, 0, 0, 0.3);
    --faintblack4: rgba(0, 0, 0, 0.4);
    --faintblack5: rgba(0, 0, 0, 0.5);
    --faintblack6: rgba(0, 0, 0, 0.6);
    --faintblack7: rgba(0, 0, 0, 0.7);
    --faintblack8: rgba(0, 0, 0, 0.8);
    --faintblack9: rgba(0, 0, 0, 0.9);
    --faintblack10: rgba(0, 0, 0, 1);

    --faintwhite1: rgba(255, 255, 255, 0.1);
    --faintwhite2: rgba(255, 255, 255, 0.2);
    --faintwhite3: rgba(255, 255, 255, 0.3);
    --faintwhite4: rgba(255, 255, 255, 0.4);
    --faintwhite5: rgba(255, 255, 255, 0.5);
    --faintwhite6: rgba(255, 255, 255, 0.6);
    --faintwhite7: rgba(255, 255, 255, 0.7);
    --faintwhite8: rgba(255, 255, 255, 0.8);
    --faintwhite9: rgba(255, 255, 255, 0.9);
    --faintwhite10: rgba(255, 255, 255, 1);

    font-family: roboto;


    
}

.submit:active{
    transform: translateY(4px);
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 0px 0px ;
}

#loginWarning{
    color: hsl(0, 55%, 50%);
    /* display: flex; */
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 800px) {

    body{
        padding: 0px;
        margin: 0px;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heading{
        font-size: 18px;
        padding: 0px;
        margin: 0px;
    }

    .loginDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 400px;
        background-color: var(--maincolor9);
        padding: 40px 10px;
        border-radius: 5px;
    }

    .loginDiv>form{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 90%;
        height: 200px;

    }

    .input{
        height: 35px;
        border: solid 1px var(--faintblack2);
        border-radius: 5px;
        outline: none;
        width: calc(100% - 10px);       
        padding-left: 10px;
        font-size: 14px;
    }

    .input::placeholder{

    }

    .linksDiv{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 10px;
    }

    .linksDiv>a{
        height: fit-content;
        width: fit-content;
    }

    .linksBtn{
        height: 30px;
        background: transparent;
        border: none;
    }

    .linksBtn:active{
        text-decoration: underline;
    }

    .submit{
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        background-color: var(--maincolor2);
        box-shadow: 0px 4px 0px 0px var(--maincolor8);
        width: 100%;
        color: white;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
    body{
        padding: 0px;
        margin: 0px;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heading{
        font-size: 18px;
        padding: 0px;
        margin: 0px;
    }

    .loginDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 400px;
        background-color: var(--maincolor9);
        padding: 40px 10px;
        border-radius: 5px;
    }

    .loginDiv>form{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 90%;

    }

    .input{
        height: 35px;
        border: solid 1px var(--faintblack2);
        border-radius: 5px;
        outline: none;
        width: calc(100% - 10px);       
        padding-left: 10px;
        font-size: 14px;
    }

    .input::placeholder{

    }

    .linksDiv{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 10px;
    }

    .linksDiv>a{
        text-decoration: underline;
    }

    .linksBtn{
        height: 30px;
        background: transparent;
        border: none;
    }

    .linksBtn:active{
        text-decoration: underline;
    }

    .submit{
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        background-color: var(--maincolor2);
        box-shadow: 0px 4px 0px 0px var(--maincolor8);
        width: 100%;
        color: white;
    }

}
